<div class="page">
    <div class="container" *ngIf="!projetExist">
        <mat-card class="container">
            Aucun projet avec l'id {{idProject}}
        </mat-card>
    </div>
    <div class="container" *ngIf="projetExist">
        
        <mat-card class="container">
            
            <form class="example-form" style="width: 100%; justify-content: space-between; display: flex;">
                <mat-form-field class="example-full-width" style="width: 48%;">
                  <mat-label>Titre</mat-label>
                  <input matInput [(ngModel)]="title" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
              
                <mat-form-field class="example-full-width" style="width: 48%;">
                    <mat-label>Date Début</mat-label>
                    <input matInput [(ngModel)]="dateDebut" [ngModelOptions]="{standalone: true}">
                  </mat-form-field>
              </form>

              <mat-form-field class="example-full-width" style="width: 100%;">
                <mat-label>Description</mat-label>
                <input matInput [(ngModel)]="description" [ngModelOptions]="{standalone: true}">
              </mat-form-field>

              <br/>

              <div style="width: 100%; text-align: right;">
                <button mat-flat-button color="primary" style="margin-right: 15px;" (click)='maj()'>Mettre à jour</button>
                <button mat-flat-button color="warn" (click)='supprimer()'>Supprimer</button>
              </div>
              
        </mat-card>

        <mat-card class="container">
            <h3 style="text-align: left;" >Employés affectés au projet</h3>
            <div class="grid-container">
                <div class="grid-item" *ngFor="let emp of empsDansLeProjet">
                    <img *ngIf="emp.profileImage" src={{emp.profileImage}} />
                    <img *ngIf="!emp.profileImage" src="../../../../assets/default_profile.png" />
                    <p>{{emp.prenom + ' ' + emp.nom}}</p>
                    <button mat-button style="color: red;" (click)='deleteUserFromProject(emp.id)'>Delete</button>
                </div>
            </div>
        </mat-card>


        <div class="container">
            <mat-accordion class="example-headers-align">
                <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" style="width: calc(100% + 32px);" >
                    <mat-expansion-panel-header >
                        <mat-panel-title >
                            <span class="material-icons" style="margin-top: 16px;">
                                add
                            </span>
                            <h3 style="margin-left:10px; font-size: larger; margin-top: 15px;">Ajouter un employé au projet</h3>
                        </mat-panel-title>
                    </mat-expansion-panel-header> 
                    <div class="container">
                          <mat-form-field appearance="fill" style="width:80%">
                              <mat-label>Ajouter un employer au projet *</mat-label>
                              <mat-select [formControl]="employerAAjouter">
                                  <mat-option *ngFor="let emp of employesNonAffectes" [value]='emp' > {{emp.prenom+" "+emp.nom}} </mat-option>
                              </mat-select>
                          </mat-form-field>
                   </div>
                   <mat-action-row>
                      <button 
                          mat-raised-button  
                          color="primary"
                          (click)='ajouterEMplyeAuProjet()'
                          >
                          Ajouter l'employé
                      </button>
                   </mat-action-row>
                </mat-expansion-panel>
            </mat-accordion>
        </div>


        <div class="container">
            <mat-accordion class="example-headers-align">
                <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" style="width: calc(100% + 32px);" >
                    <mat-expansion-panel-header >
                        <mat-panel-title >
                            <span class="material-icons" style="margin-top: 16px;">
                                add
                            </span>
                            <h3 style="margin-left:10px; font-size: larger; margin-top: 15px;">Ajouter une tache</h3>
                        </mat-panel-title>
                    </mat-expansion-panel-header> 
                    <div class="container">
                        <div style="display: flex; width: 100%; justify-content: space-between;">
                            <mat-form-field appearance="fill" style="width: 48%;">
                                <mat-label>Titre</mat-label>
                                <input matInput [(ngModel)]="titreTache">
                            </mat-form-field>
                            <mat-form-field appearance="fill" style="width: 48%;">
                                <mat-label>Description</mat-label>
                                <input matInput [(ngModel)]="descTache">
                            </mat-form-field>
                        </div>

                        <mat-form-field appearance="fill" style="width: 100%;">
                            <mat-label>Date Début</mat-label>
                            <input matInput [matDatepicker]="picker" [(ngModel)]="dateDebutTache">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                            
                        <mat-form-field appearance="fill" style="width: 100%;">
                            <mat-label>Date Fin</mat-label>
                            <input matInput [matDatepicker]="picker1" [(ngModel)]="dateFinTache">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                        
                     </div>
                    <mat-action-row>
                        <button 
                            mat-raised-button  
                            color="primary"
                            (click)='ajouterTache()'
                            >
                            Ajouter la tache
                        </button>
                    </mat-action-row>
                </mat-expansion-panel>
            </mat-accordion>
        </div>

        <mat-card class="container">
            <h3 style="text-align: left;" >Liste des taches</h3>
            <div class="grid-container" >
                <div class="grid-item" *ngFor="let tache of taches" style="border: 1px solid rgba(155, 155, 155, 0.63); border-radius: 5px; padding: 5px;">
                    <div style="text-align:'right';">
                        <mat-icon 
                            style="cursor: pointer;"
                            (click)='openDialog(tache)'
                        >
                            more_vert
                        </mat-icon>
                    </div>
                    <p style="font-weight: bold; text-align: left;">{{tache.titre}}</p>
                    <br/>
                    <p>{{tache.description}}</p>
                    <button mat-button style="color: red;">Delete</button>
                </div>
            </div>
        </mat-card>

</div>