<div class="page">
    <div class=" grid-container">
        <mat-card class="grid-item">
            <img mat-card-image src="https://cdn.discordapp.com/attachments/489932450617884673/859023493290655774/Consulter-employees_1.png" alt="Photo of a Shiba Inu">
            <button mat-button color='primary' [routerLink]="['/grh/employés']">
                Consulter les employés
            </button>
        </mat-card>
        <mat-card class="grid-item">
            <img mat-card-image src="https://cdn.discordapp.com/attachments/489932450617884673/857635859649527828/Consulter-demandes.png" alt="Photo of a Shiba Inu">
            <button mat-button color='primary' [routerLink]="['/grh/demandes']">
                Consulter les demandes
            </button>
        </mat-card>
    </div>
</div>