<div class="page">
    <div class=" grid-container">
        <mat-card class="grid-item">
            <img mat-card-image src="https://cdn.discordapp.com/attachments/489932450617884673/859023493290655774/Consulter-employees_1.png" alt="Photo of a Shiba Inu">
            <button mat-button color='primary' [routerLink]="['/admin/employés']">
                Consulter les employés
            </button>
        </mat-card>
        <mat-card class="grid-item">
            <img mat-card-image src="https://cdn.discordapp.com/attachments/489932450617884673/857635859649527828/Consulter-demandes.png" alt="Photo of a Shiba Inu">
            <button mat-button color='primary' [routerLink]="['/admin/demandes']">
                Consulter les demandes
            </button>
        </mat-card>
        <mat-card class="grid-item">
            <img mat-card-image src="https://cdn.discordapp.com/attachments/489932450617884673/857646398358159400/Consulter-appel-d-offre.png" alt="Photo of a Shiba Inu">
            <button mat-button color='primary' [routerLink]="['/admin/historique-appels-offres']">
                Liste les appels d'offres
            </button>
        </mat-card>
        <mat-card class="grid-item">
            <img mat-card-image src="https://cdn.discordapp.com/attachments/489932450617884673/857647841799569478/Gerer-Stock.png" alt="Photo of a Shiba Inu">
            <button mat-button color='primary' [routerLink]="['/admin/categories']">
                Gérer le stock
            </button>
        </mat-card>
        <mat-card class="grid-item">
            <img mat-card-image src="https://cdn.discordapp.com/attachments/489932450617884673/857659694478393373/Gerer-Project.png" alt="Photo of a Shiba Inu">
            <button mat-button color='primary' [routerLink]="['/admin/projets']">
                Consulter les projets
            </button>
        </mat-card>
        <mat-card class="grid-item">
            <img mat-card-image src="https://media.discordapp.net/attachments/489932450617884673/857659923105316874/cff1c382e640e9d3.png" alt="Photo of a Shiba Inu">
            <button mat-button color='primary' [routerLink]="['/admin/historique-etudes']">
                Les études
            </button>
        </mat-card>
    </div>
</div>